body{
 background-color: #EAE7DC;   
}
h2{
    font-family: sans-serif;
    text-align: center;
    color: #0c0c0c;
}
label{
    color: #3b1d50;
    font-family: sans-serif;
    font-weight: bold;
}
input[type="text"]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
section{
    display: flex;
}
  
.leftside{
      width: 50%;
      height: 55%;
      border-radius: 5px;
      background-color: #fa6f32;
      padding: 8px;
     
    }
.rightside{
    margin-left: 5px;
    width: 100%;
    overflow: auto;
    max-height: 90vh;
    background-color: #EAE7DC;
    border-radius: 5px;
    overflow: scroll;
}

table{
    border-collapse: collapse;
}
table.list{
    width: 100%;
}
td, th{
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px 13px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
tr:nth-child(even),table.list thead>tr{
    background-color: #fa6f32;
}
button[id = "insart"], [id = "select"], [id = "update"], [id = "reset"], [id = "delete"]{
    background: #EAE7DC;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 15px 0 10px;
    outline: none;
}